<div class="card shadow-lg bg-white">
      <div class="card-header bg-primary">
        <h4 class="text-center text-white">{{product.name}}</h4>
      </div>
      <div class="card-body">
        <ul class="list-group">
          <li class="list-group item">
            <p>{{product.company}}</p>
          </li>
          <li class="list-group item">
            <p>{{product.price}}</p>
          </li>
          <li class="list-group item">
            <p>{{product.rating}}</p>
          </li>
        </ul>
      </div>
      <div class="card-footer">
        <button
        type="button"
          (click)="addToCart(product.id!)"
          class="btn btn-outline-secondary form-control shadow-sm fw-bold"
        >
          Add to Cart
        </button>
      </div>
    </div>
