  <div class="row mt-5">
    <div class="col col-sm-6 offset-3">
      <div class="card shadow-lg p-5 border-2 border-primary">
        <div class="card-body p-lg-5">
          <h1 class="text-primary">Admin Panel</h1>
          <table class="table table-striped table-bordered table-responsive">
            <thead>
              <tr>
                <th class="fw-bold">Products</th>
                <th class="fw-bold">Users</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <a class="link-primary fw-bold" routerLink="/list-product"
                    >List Product &#10148;</a>
                </td>
                <td>
                  <a class="link-primary fw-bold" routerLink="/users"
                    >List User &#10148;</a>
                </td>
              </tr>
              <tr>
                <td>
                  <a class="link-secondary fw-bold" routerLink="/list-product/create" exact
                    >Create Product &#10148;</a>
                </td>
                <td>
                  <a class="link-secondary fw-bold" routerLink="/users/create" exact
                    >Create User &#10148;</a>
                </td>
              </tr>
              <tr>
                <td>
                  <a class="link-success fw-bold" routerLink="/list-product"
                    >Update Feature &#10148;</a>
                </td>
                <td>
                  <a class="link-success fw-bold" routerLink="/users"
                    >Update Role &#10146;</a>
                </td>
              </tr>              
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
