<div class="card">
  <div class="card-header bg-primary text-white p-3">
    <h4 class="text-center">Product List</h4>
  </div>
  <div class="card-body">
    <table class="table table-responsive table-striped table-bordered">
      <thead class="bg-primary">
        <tr>
          <th class="fw-bold">Name</th>
          <th class="fw-bold">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of products">
          <td>{{ product.name }}</td>
          <td>
            <a
              routerLink="/list-product/detail/{{ product.id }}"
              class="btn btn-outline-primary m-1 btn-sm fw-bold"
            >
              View
            </a>
            <a
              routerLink="/list-product/delete/{{ product.id }}"
              class="btn btn-outline-danger m-1 btn-sm fw-bold"
            >
              Delete
            </a>
            <a
              routerLink="/list-product/edit/{{ product.id }}"
              class="btn btn-outline-secondary m-1 btn-sm fw-bold"
            >
              Edit
            </a>
            <a
              routerLink="/list-product/feature/{{ product.id }}"
              class="btn btn-outline-dark m-1 btn-sm fw-bold"
            >
              Feature
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="card-footer d-flex flex-column align-items-center justify-content-center p-3">
    <a
      routerLink="/list-product/create"
      class="btn btn-outline-secondary btn-lg form-control fw-bold"
    >
      Create Product
    </a>
    <a
      routerLink="/admin-panel"
      class="btn btn-outline-primary btn-lg form-control fw-bold"
    >
      Back To Admin Panel
    </a>
  </div>
</div>

