<div class="row mt-5">
  <div class="col col-sm-4 col-md-4 offset-4">
    <div class="card">
      <form [formGroup]="loginForm" (ngSubmit)="onLoginSubmit()">
        <div class="card-header bg-primary text-white">
          <h4 class="text-center">Login Form</h4>
        </div>
        <div class="card-body">
          <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input
              id="email"
              formControlName="email"
              type="email"
              class="form-control"
            />
            <div *ngIf="email?.invalid && (email?.dirty || email?.touched)" class="alert alert-danger">
              <p *ngIf="email?.errors?.['required']">Email is required</p>
              <p *ngIf="email?.errors?.['name']">Email format in incorrect</p>
            </div>
          </div>
          <div class="mb-3">
            <label for="password" class="form-label"> Password </label>
            <input
              id="password"
              formControlName="password"
              type="password"
              class="form-control"
            />
            <div *ngIf="password?.invalid && (password?.dirty || password?.touched)" class="alert alert-danger">
              <p *ngIf="password?.errors?.['required']">Password is required</p>
              <p *ngIf="password?.errors?.['minlength']">Password must be at least 6 characters long.</p>
              <p *ngIf="password?.errors?.['maxlength']">Password must not be more than 12 characters long.</p>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <button type="submit" class="btn btn-outline-primary form-control fw-bold">
            Submit
          </button>
          <button
            type="button"
            class="btn btn-outline-secondary form-control fw-bold"
            (click)="backToList()"
          >
            Back
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
